@import "node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");

$theme-colors: (
    "primary": #2c2f33,
    "secondary": hsl(129, 73%, 30%),
);

.loading-icon {
    display: flex;
    margin-top: 20%;
    text-align: center;
    justify-content: center;
}

@import "node_modules/bootstrap/scss/bootstrap";
